/* 
  POKEMON CARDS HOLOGRAPHIC CSS 
  Ported from simeydotme/pokemon-cards-css
*/

:root {
  --red: #f80e35;
  --yellow: #eedf10;
  --green: #21e985;
  --blue: #0dbde9;
  --violet: #c929f1;

  --card-aspect: 0.718;
  --card-radius: 4.55% / 3.5%;
  --card-edge: hsl(47, 100%, 78%);
  --card-back: hsl(205, 100%, 25%);
  --card-glow: hsl(175, 100%, 90%);

  --sunpillar-1: hsl(2, 100%, 73%);
  --sunpillar-2: hsl(53, 100%, 69%);
  --sunpillar-3: hsl(93, 100%, 69%);
  --sunpillar-4: hsl(176, 100%, 76%);
  --sunpillar-5: hsl(228, 100%, 74%);
  --sunpillar-6: hsl(283, 100%, 73%);

  --sunpillar-clr-1: var(--sunpillar-1);
  --sunpillar-clr-2: var(--sunpillar-2);
  --sunpillar-clr-3: var(--sunpillar-3);
  --sunpillar-clr-4: var(--sunpillar-4);
  --sunpillar-clr-5: var(--sunpillar-5);
  --sunpillar-clr-6: var(--sunpillar-6);
}

/* BASE STRUCTURE */
.card {
  --grain: url("/assets/holo/grain.webp");
  --glitter: url("/assets/holo/glitter.png");
  --glittersize: 25%;
  --space: 5%;
  --angle: 133deg;
  --imgsize: cover;

  --clip: inset( 9.85% 8% 52.85% 8% );
  --clip-invert: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 47.15%, 91.5% 47.15%, 91.5% 9.85%, 8% 9.85%, 8% 47.15%, 0 50%);
  --clip-stage: polygon(91.5% 9.85%, 57% 9.85%, 54% 12%, 17% 12%, 16% 14%, 12% 16%, 8% 16%, 8% 47.15%, 92% 47.15%);
  --clip-trainer: inset(14.5% 8.5% 48.2% 8.5%);
  --clip-borders: inset(2.8% 4% round 2.55% / 1.5%);

  -webkit-transform: translate3d(0px, 0px, 0.01px);
  transform: translate3d(0px, 0px, 0.01px);
  pointer-events: none;
  z-index: calc(var(--card-scale) * 2);
  will-change: transform, visibility, z-index;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card, .card * { outline: 1px solid transparent; }

.card__translater, .card__rotator {
  display: grid;
  perspective: 600px;
  will-change: transform, box-shadow;
  transform-origin: center;
  -webkit-transform-origin: center;
  transform-style: preserve-3d;
}

.card__translater {
  width: auto;
  position: relative;
  --translate-z: calc(var(--card-scale) * 150px + 0.01px);
  -webkit-transform: translate3d(var(--translate-x), var(--translate-y), var(--translate-z)) scale(var(--card-scale));
  transform: translate3d(var(--translate-x), var(--translate-y), var(--translate-z)) scale(var(--card-scale));
}

.card__rotator {
  -webkit-transform: rotateY(var(--rotate-x)) rotateX(var(--rotate-y));
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform: rotateY(var(--rotate-x)) rotateX(var(--rotate-y));
  aspect-ratio: var(--card-aspect);
  border-radius: var(--card-radius);
  pointer-events: auto;
}

.card__rotator * {
  width: 100%;
  display: grid;
  grid-area: 1/1;
  aspect-ratio: var(--card-aspect);
  border-radius: var(--card-radius);
  image-rendering: optimizeQuality;
  pointer-events: none;
  overflow: hidden;
}

.card__back {
  background-color: var(--card-back);
  -webkit-transform: rotateY(180deg) translateZ(1px);
  transform: rotateY(180deg) translateZ(1px);
  backface-visibility: visible;
}

.card__front {
  opacity: 1;
  transition: opacity 0.33s ease-out;
  -webkit-transform: translate3d(0px, 0px, 0.01px);
  transform: translate3d(0px, 0px, 0.01px);
}

.card__shine {
  display: grid;
  transform: translateZ(1px);
  overflow: hidden;
  z-index: 3;
  background: transparent;
  background-size: cover;
  background-position: center;
  filter: brightness(.85) contrast(2.75) saturate(.65);
  mix-blend-mode: color-dodge;
  opacity: var(--card-opacity);
}

.card__glare {
  transform: translateZ(1.41px);
  overflow: hidden;
  background-image: radial-gradient(
    farthest-corner circle at var(--pointer-x) var(--pointer-y),
    hsla(0, 0%, 100%, 0.8) 10%,
    hsla(0, 0%, 100%, 0.65) 20%,
    hsla(0, 0%, 0%, 0.5) 90%
  );
  opacity: var(--card-opacity);
  mix-blend-mode: overlay;
}

/* RARITY: RARE HOLO (REGULAR) */
.card[data-rarity="rare holo"] .card__shine {
  --scanlines-space: 1px;
  --scanlines-light: #666;
  --scanlines-dark: black;
  --bars: 3%;
  --bar-color: hsla(0, 0%, 70%, 1);
  --bar-bg: hsla(0, 0%, 0%, 1);
  clip-path: var(--clip);
  background-image: 
    repeating-linear-gradient( 110deg, var(--violet), var(--blue), var(--green), var(--yellow), var(--red), var(--violet), var(--blue), var(--green), var(--yellow), var(--red), var(--violet), var(--blue), var(--green), var(--yellow), var(--red)),
    repeating-linear-gradient( 90deg, var(--scanlines-dark) 0px, var(--scanlines-dark) 2px, var(--scanlines-light) 2px, var(--scanlines-light) 4px);
  background-position: calc(((50% - var(--background-x)) * 2.6) + 50%) calc(((50% - var(--background-y)) * 3.5) + 50%), center center;
  background-size: 400% 400%, cover;
  background-blend-mode: overlay;
  filter: brightness(1.1) contrast(1.1) saturate(1.2);
}

/* RARITY: COSMOS */
.card[data-rarity="rare holo cosmos"] .card__shine {
  --space: 4%;
  clip-path: var(--clip);
  background-image: 
    url("/assets/holo/cosmos-bottom.png"), 
    repeating-linear-gradient(82deg, hsl(53, 65%, 60%) 4%, hsl(93, 56%, 50%) 8%, hsl(176, 54%, 49%) 12%, hsl(228, 59%, 55%) 16%, hsl(283, 60%, 55%) 20%, hsl(326, 59%, 51%) 24%, hsl(326, 59%, 51%) 28%, hsl(283, 60%, 55%) 32%, hsl(228, 59%, 55%) 36%, hsl(176, 54%, 49%) 40%, hsl(93, 56%, 50%) 44%, hsl(53, 65%, 60%) 48%), 
    radial-gradient(farthest-corner circle at var(--pointer-x) var(--pointer-y), hsla(180, 100%, 89%, 0.5) 5%, hsla(180, 14%, 57%, 0.3) 40%, hsl(0, 0%, 0%) 130%);
  background-size: cover, 400% 900%, cover;
  background-blend-mode: color-burn, multiply;
  filter: brightness(1) contrast(1) saturate(.8);
}

/* RARITY: VMAX */
.card[data-rarity="rare holo vmax"] .card__shine {
  --space: 6%;
  --angle: 133deg;
  --foil: url("/assets/holo/vmaxbg.jpg");
  background-image: var(--foil), repeating-linear-gradient(-33deg, hsl(2, 70%, 47%) 6%, hsl(228, 60%, 64%) 12%, hsl(176, 55%, 39%) 18%, hsl(123, 68%, 35%) 24%, hsl(283, 75%, 57%) 30%, hsl(2, 70%, 47%) 36%), repeating-linear-gradient(var(--angle), hsla(227, 53%, 12%, 0.5) 0%, hsl(180, 10%, 50%) 2.5%, hsl(83, 50%, 35%) 5%, hsl(180, 10%, 50%) 7.5%, hsla(227, 53%, 12%, 0.5) 10%), radial-gradient(farthest-corner circle at var(--pointer-x) var(--pointer-y), hsla(189, 76%, 77%, 0.6) 0%, hsla(147, 59%, 77%, 0.6) 25%, hsla(271, 55%, 69%, 0.6) 50%, hsla(355, 56%, 72%, 0.6) 75%);
  background-blend-mode: difference, luminosity, soft-light;
  background-size: cover, 1100% 1100%, 600% 600%, 200% 200%;
}

/* GLITTER EFFECTS FOR SECRET RARE */
.card[data-rarity="rare secret"] .card__shine {
  --shift: 1px;
  background-image: var(--glitter), var(--glitter), conic-gradient(var(--sunpillar-clr-4), var(--sunpillar-clr-5), var(--sunpillar-clr-6), var(--sunpillar-clr-1), var(--sunpillar-clr-4)), radial-gradient(farthest-corner circle at var(--pointer-x) var(--pointer-y), hsla(150, 0%, 0%, .98) 10%, hsla(0, 0%, 95%, .15) 90%);
  background-size: var(--glittersize) var(--glittersize), var(--glittersize) var(--glittersize), cover, cover;
  mix-blend-mode: color-dodge;
}

@media screen and (max-width: 900px) {
  .card[data-rarity="rare holo"] .card__shine { --scanlines-space: .5px; }
}
